@charset "utf-8";
/* CSS Document */


div.container-fp {
	background-image: url(../images/background.png);
	width: 980px;
	height: 671px;
	margin: auto auto;
	direction: rtl;
	position: relative;
	top: 50px;
}

/*---------------- First Page ---------------*/
