@charset "utf-8";
/* CSS Document */


div.container {
	background-image:url(../images/background.png);
	border-bottom:1px #FFFFFF solid;
	width: 980px;
	height: 600px;
	margin: auto auto;
	direction:rtl;
	position:relative;
	top: 100px;
}

/*---------------- First Page ---------------*/
